<%= render 'nav'%>
<% if flash[:error]%>
<div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div >
    <%= flash[:error]%>
  </div>
</div>
<%end%>


<center> <h1 class="text-info">    Welcome  User </h1></center>
<div class="bg-light p-4 text-center"> 
</div>
</div>
</div>


Our blog has <%= Article.public_count %> articles and counting!
<center>
<table>
  <tr>
  <th style='border:4px solid green'>
  <%= link_to "Article Name", :sort => "name", style: 'color: black; font-weight: bold; text-decoration: underline;' %></th>
    <th style='border:4px solid green'><%= link_to "Created by", :sort => " current_user.email"%> </th>
    <th style ='border:4px solid green', > Created At</th>
    <th style='border:4px solid green'> Action  Performed</th>


  </tr>
  <% @articles.each do |article| %>
    <tr id="row_<%=article.id%>">
    <td style='border:4px solid green'><%= link_to article.title, article%></td>
    <td style='border:4px solid green'>
    <% if article.user%>
    <%=  article.user.email%>
   <%end%>

    </td>
    <td style = 'border:4px solid green'><%= link_to "(#{article.created_at.strftime('%B %d, %Y')})", article %>
    <td style= 'border:4px solid green'> <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary btn-sm" %>
     <%= link_to "Destroy", article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
     <button type="button" class= "btn btn-danger removeArticle" id="article_<%=article.id%>">Destroy(ajax)</button>
     </td>
    

  <% end %>
  </table>

<br><br>
</center>




<% if user_signed_in? %>
<div class="container">
<div class="row justify-content-center">
  <div class="col-md-6">
    <center><h4 class="text-info mb-4">You are already signed in , <%= current_user.email %></h4></center>
    <div class="bg-light p-4 text-center"> 
    </div>
  </div>
</div>
</div>
  

<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', user_session_path %>
<% end %>



  